

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
   
}

header {
    background-color: #141414;
    color: #ff0000;
    text-align: center;
    padding: 20px;
    border-bottom: #ff0000 solid 5px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    display: inline;
    margin-left: 15px;
    
}
nav ul li {
   background-color: #141414;
  

    display: inline;
    justify-content: left;
    margin-right:20px ;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    margin: 0;
    text-shadow: -3px 4px 4px rgb(137, 0, 0);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #141414;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    text-shadow: -3px 4px 4px  rgb(202, 0, 0);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}


section h2 {
    font-size: 28px;
    color: #ff0000;
}
.search-form {
    display: flex;
    align-items:flex-start;
  
    width: 400px;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: white;
    outline: none;
    align-items: center;
    margin-left:900px;
}

.search-button {
    background-color: #131313; 
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.search-button:hover {
    background-color: #f40612; 
}

@media (max-width: 1024px) {
    .search-form {
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .search-input {
        margin-left: 0;
        width: 80%; /* Réduit la largeur de la barre de recherche */
    }

    .search-button {
        margin-left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    nav ul li {
        margin-bottom: 10px;
        display: block;
    }

    section {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 22px;
    }
}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
    .search-form {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .search-input {
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .search-button {
        width: 100%;
        margin-left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0;
    }

    nav ul li {
        margin-bottom: 10px;
        display: block;
    }

    header {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        padding: 10px;
    }
}