body {
    font-family: 'Arial', sans-serif;
    background-color: #141414; 
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url("./netflix-octobre-contenus-2022.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.header {
    background-color: #0000009c;
    padding: 25px;
    height: 65px;
    text-align: center;
    border-bottom: 1px solid #333;
    text-decoration: none;
    border-bottom: #9f0000 solid 5px;
   
    
    
}
h1{
    color: #e50914;
    margin: 0;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    display: flex;
    text-shadow: -3px 4px 4px rgb(160, 0, 0);
    font-size: 40px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    justify-content: left;
   display: inline;
    margin-left: 15px;
    
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: -4px 3px 6px rgb(255, 255, 255);
}

.header .logo {
    color: #e50914;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}


.forgot-password-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #000000bb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


h2 {
    margin-top: 0;
    color: #fff;
    text-shadow: -3px 4px 4px rgba(176, 176, 176, 0.76);
}

p {
    color: #ccc;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}

button {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f40612;
}
